<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftArchitectureTemplate.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>78A386F727401A9D00DF51CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78A3870D27401A9F00DF51CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78A3871727401A9F00DF51CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
